# Configuración del Servidor Express
PORT=3000

# Credenciales y configuración de PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=dentplus_db

# Conexión base de datos (docker)
DATABASE_URL="postgresql://admin:secretpassword@postgres-db:5432/dentplus_db"

# Conexión base de datos (desarrollo local)
DATABASE_URL="postgresql://admin:secretpassword@localhost:5432/dentplus_db"


## salt + session_secret
BCRYPT_SALT_ROUNDS=4
SESSION_SECRET='secret session'